<!-- app.component.html -->
<footer class="mat-typography">
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sección 1</h3>
        <a routerLink="/">Inicio</a>
        <a routerLink="/productos">Productos</a>
        <a routerLink="/servicios">Servicios</a>
      </div>
  
      <div class="footer-section">
        <h3>Sección 2</h3>
        <a routerLink="/nosotros">Nosotros</a>
        <a routerLink="/contacto">Contacto</a>
      </div>
  
      <div class="footer-section">
        <h3>Sección 3</h3>
        <a routerLink="/blog">Blog</a>
        <a routerLink="/ayuda">Ayuda</a>
      </div>
    </div>
  </footer>
  