<div class="containerG">
  <div class="containerF">
    <form id="productoForm" [formGroup]="productoForm">
      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="cantidad" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Descripcion</mat-label>
          <input matInput formControlName="descripcion" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Etiquetas</mat-label>
          <input matInput formControlName="etiquetas" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Imagen</mat-label>
          <input matInput formControlName="imagen" />
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="form-field">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Precio</mat-label>
          <input matInput formControlName="precio" />
        </mat-form-field>
      </div>

      <div class="button-row">
        <button
          mat-raised-button
          color="primary"
          (click)="agregarProducto()"
          class="btn btn-dark"
        >
          Aceptar
        </button>
      </div>
    </form>
  </div>
  <div class="containerT">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Cantidad</th>
          <th>Descripcion</th>
          <th>Etiquetas</th>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.etiquetas }}</td>
          <td>{{ producto.imagen }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
