.containerG{
    background-color: cadetblue;
}
.containerF {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    height: 40vh;
    
  }
.containerT{
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}
  
  #productoForm {
    width: 300px; /* O ajusta el ancho según tus necesidades */
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .form-field {
    width: 45%; /* Ancho de cada campo de entrada */
  }
  
  .button-row {
    text-align: center;
    margin-top: 10px;
  }
  .filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Ajusta según sea necesario */
  }
  
  .filter-container mat-form-field {
    margin-right: 10px; /* Ajusta según sea necesario */
  }
  
  .filter-container button {
    margin-left: 10px; /* Ajusta según sea necesario */
  }