<!-- app.component.html -->
<div id="container" [formGroup]="form">
    <h1>Register</h1>
    <input type="text" formControlName="username" placeholder="Usuario">
    <input type="password" formControlName="password" placeholder="Contraseña">
    <input type="text" formControlName="lastname" placeholder="Apellido">
    <input type="text" formControlName="firstname" placeholder="Nombre">
    <input type="text" formControlName="country" placeholder="País">
    <button mat-raised-button color="primary" (click)="register()">Registrarse</button>
    <button mat-raised-button color="primary" (click)="login()">Regresar a ingreso</button>
  </div>
  